<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>H-Commerce | Manage Categories</title>

  <th:block th:replace="~{admin/fragments/common-links :: cssLinks}"></th:block>
  
  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" th:href="@{/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
  
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
  <!--/* Insert topbar fragment */-->
  <nav th:replace="~{admin/fragments/navs :: topbar}"></nav>

  <!--/* Insert sidebar fragment */-->
  <aside th:replace="~{admin/fragments/navs :: sidebar}"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Manage Categories</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
              <li class="breadcrumb-item active">Manage Categories</li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" data-toggle="modal" data-target="#add-update-modal">Add</a>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
      
        <div class="row">
          
          <div class="col-12">
            
            <div class="card" id="category-table-card">
            
              <div class="card-header">
                <h3 class="card-title">Categories Table</h3>
            
                <div class="card-tools row">
                  <div class="input-group input-group-sm mr-2" style="width: 150px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-eye"></i></span>
                    </div>
                    <select name="pageSize" class="form-control float-right h-100">
                      <option value="1">1</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                    </select>
                  </div>
                  <div class="input-group input-group-sm mr-2" style="width: 150px;">
                    <input type="text" name="search" class="form-control float-right h-100" placeholder="Search" th:value="${param.search}">
            
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content">
              
              </div>
            
            </div>
            
          </div>
          
        </div>
        
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside th:replace="~{admin/fragments/parts :: controlSidebar}"></aside>

  <!-- Main Footer -->
  <footer th:replace="~{admin/fragments/parts :: mainFooter}"></footer>
  
</div>
<!-- ./wrapper -->

<!-- Add / Update Modal -->
<div class="modal fade" id="add-update-modal" aria-modal="true">
  <div class="modal-dialog">
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-times-circle text-danger"></i>
          Delete...
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="message">
          You are about to delete Category named <b id="category-name"></b>.
          Are you sure you want to proceed with this operation?
        </p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I change my mind...</button>
        <a href="javascript:void(0)" class="btn btn-danger" id="confirm-delete-link">Delete</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- REQUIRED SCRIPTS -->
<th:block th:replace="~{admin/fragments/common-links :: jsLinks}"></th:block>

<!-- SweetAlert2 JS -->
<script th:src="@{/adminlte/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/adminlte/dist/js/sweetalert2-genericcrud.js}"></script>

<!-- Card Based Pageable Table Script -->
<script th:src="@{/adminlte/dist/js/pageabletable.js}"></script>

<!-- Category Table Script -->
<script>
  var categoryTableCard = new CardBasedPageableTable("#category-table-card", "categories/table", "name", "asc");
</script>

<!-- Add Button Click -->
<script>
	$("a[data-target='#add-update-modal']").click(function() {
		$.ajax({
			type: "GET",
			url: "categories/add-modal-form",
			dataType: "html",
			success: function(data) {
				$("div#add-update-modal > div.modal-dialog").html(data);
			}
		});
	});
</script>

<!-- Update Button Click -->
<script>
	$("div#category-table-card > div.card-content").on("click", "button.btn-update", function() {
		$.ajax({
			type: "GET",
			url: "categories/update-modal-form",
			dataType: "html",
			data: {
				"id": $(this).data("id")
			},
			success: function(data) {
				$("div#add-update-modal > div.modal-dialog").html(data);
			}
		});
	});
</script>

<!-- Delete Button Click -->
<script>
    $("div#category-table-card > div.card-content").on("click", "button.btn-delete", function() {
        var modalContent = $("div#delete-modal > div.modal-dialog > div.modal-content")
        $(modalContent).find("b#category-name").html($(this).data("name"));
        var confirmDeleteLink = $(modalContent).find("div.modal-footer > a#confirm-delete-link");
        
        // Temporarily disable confirm delete link, for setting proper links
        $(confirmDeleteLink).addClass("disabled");
        $(confirmDeleteLink).attr("href", "categories/delete?id=" + $(this).data("id"));
        // Re-enable
        $(confirmDeleteLink).removeClass("disabled");
    });
    
    $("div#delete-modal > div.modal-dialog > div.modal-content > div.modal-footer > a#confirm-delete-link").click(function(e) {
        e.preventDefault();
        
        $.ajax({
        	type: "DELETE",
        	url: $(this).attr("href"),
        	success: function() {
				$("div#delete-modal").modal("hide");
				categoryTableCard.render();
				CrudNotifToast.fire({
					icon: 'success',
					title: 'Category was successfully removed.'
				});
        	}
        });
    });
</script>

<!-- Add / Update Form On Submit -->
<script>
	$("div#add-update-modal").on("submit", "#add-update-form", function(e) {
		e.preventDefault();
		
		$.ajax({
			type: $(this).attr("method"),
			url: $(this).attr("action"),
			data: $(this).serialize(),
			success: function() {
				$("div#add-update-modal").modal("hide");
				categoryTableCard.render();
				CrudNotifToast.fire({
					icon: 'success',
					title: 'Category was successfully saved.'
				});
			}
		});
	});
</script>

</body>
</html>
