<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>H-Commerce | Manage Categories</title>

  <th:block th:replace="~{admin/fragments/common-links :: cssLinks}"></th:block>
  
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
  <!--/* Insert topbar fragment */-->
  <nav th:replace="~{admin/fragments/navs :: topbar}"></nav>

  <!--/* Insert sidebar fragment */-->
  <aside th:replace="~{admin/fragments/navs :: sidebar}"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Manage Categories</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
              <li class="breadcrumb-item active">Manage Categories</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
      
        <div class="row">
          
          <div class="col-12">
            
            <div class="card" id="category-table-card">
              <div class="card-header">
                <h3 class="card-title">Categories Table</h3>
            
                <div class="card-tools row">
                  <div class="input-group input-group-sm mr-2" style="width: 150px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-eye"></i></span>
                    </div>
                    <select name="categoryTablePageSize" class="form-control float-right">
                      <option value="1">1</option>
                      <option value="10">10</option>
                      <option value="20" selected>20</option>
                      <option value="50">50</option>
                    </select>
                  </div>
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="categoryTableSearch" class="form-control float-right" placeholder="Search">
            
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside th:replace="~{admin/fragments/parts :: controlSidebar}"></aside>

  <!-- Main Footer -->
  <footer th:replace="~{admin/fragments/parts :: mainFooter}"></footer>
  
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<th:block th:replace="~{admin/fragments/common-links :: jsLinks}"></th:block>

<!-- Category Table Script -->
<script>
	var currentPageNumber = 0;
	
	var categoryTable = function(page, size, sortCol, sortDir, search) {
		var data = {};
		
		if(page != null)
			data.page = page;
		
		if(size != null)
			data.size = size;
		
		if(sortCol != null && sortDir != null) {
			data.sortCol = sortCol;
			data.sortDir = sortDir;
		}
		
		if(search != null)
			data.search = search;
		
		$.ajax({
			type: "GET",
			url: "categories/table",
			data: data,
			dataType: "html",
			success: function(data) {
				$("#category-table-card > .card-body").remove();
				$("#category-table-card > .card-footer").remove();
				$("#category-table-card").append(data);
			}
		});
	}
	
	categoryTable();
</script>

<!-- Category Table Size -->
<script>
	$(document).on("change", "select[name='categoryTablePageSize']", function() {
		var size = $("select[name='categoryTablePageSize']").val();
		var search = $("input[name='categoryTableSearch']").val();
		window.currentPageNumber = 0;
		
		categoryTable(window.currentPageNumber, size, null, null, search != "" ? search : null);
	});
</script>

<!-- Category Table Search -->
<script>
	var categoryTableSearchTimeout;
	
	$(document).on("keyup", "input[name='categoryTableSearch']", function() {
		clearTimeout(categoryTableSearchTimeout);
		categoryTableSearchTimeout = setTimeout(function() {
			var size = $("select[name='categoryTablePageSize']").val();
			var search = $("input[name='categoryTableSearch']").val();
			window.currentPageNumber = 0;
			
			categoryTable(window.currentPageNumber, size, null, null, search != "" ? search : null);
		}, 300);
	});
</script>

<!-- Category Table Page -->
<script>
	// Page Number Click Event
	$(document).on("click", ".page-number", function() {
		var size = $("select[name='categoryTablePageSize']").val();
		var search = $("input[name='categoryTableSearch']").val();
		window.currentPageNumber = parseInt($(this).data("page-number"));
		
		categoryTable(window.currentPageNumber, size, null, null, search != "" ? search : null);
	});
	
	// Previous Page Click Event
	$(document).on("click", "#prev-page", function() {
		var size = $("select[name='categoryTablePageSize']").val();
		var search = $("input[name='categoryTableSearch']").val();
		
		categoryTable(--window.currentPageNumber, size, null, null, search != "" ? search : null);
	});
	
	// Next Page Click Event
	$(document).on("click", "#next-page", function() {
		var size = $("select[name='categoryTablePageSize']").val();
		var search = $("input[name='categoryTableSearch']").val();
		
		categoryTable(++window.currentPageNumber, size, null, null, search != "" ? search : null);
	});
</script>

</body>
</html>
