<!DOCTYPE html>
<th:block xmlns:th="https://thymeleaf.org">
  
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap" id="category-table">
      <thead>
        <tr>
          <th class="sortable" data-column-field="name" th:data-sort-dir="${nameOrder?.getDirection()?.toString()?.toLowerCase()}">
            Name
            <span class="float-right">
              <i class="fas fa-arrow-up fa-xs" th:classappend="${nameOrder == null or nameOrder?.isDescending()} ? ' text-muted'"></i>
              <i class="fas fa-arrow-down fa-xs" th:classappend="${nameOrder == null or nameOrder?.isAscending()} ? ' text-muted'"></i>
            </span>
          </th>
          <th class="sortable" data-column-field="description" th:data-sort-dir="${descriptionOrder?.getDirection()?.toString()?.toLowerCase()}">
            Description
            <span class="float-right">
              <i class="fas fa-arrow-up fa-xs" th:classappend="${descriptionOrder == null or descriptionOrder?.isDescending()} ? ' text-muted'"></i>
              <i class="fas fa-arrow-down fa-xs" th:classappend="${descriptionOrder == null or descriptionOrder?.isAscending()} ? ' text-muted'"></i>
            </span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:if="${!categoryPage.isEmpty()}">
          <tr th:each="category : ${categoryPage.getContent()}" th:object="${category}">
            <td>[[*{name}]]</td>
            <td>[[*{description}]]</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary" th:data-id="*{name}">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-sm btn-danger" th:data-id="*{name}">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
            </td>
          </tr>
        </th:block>
        <tr th:if="${categoryPage.isEmpty()}">
          <td colspan="3" class="text-center">No data available in table</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="card-footer clearfix">
    <b th:if="${not categoryPage.isEmpty()}">Page [[${categoryPage.getPageable().getPageNumber() + 1}]] of [[${categoryPage.getTotalPages()}]]</b>
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item" th:classappend="${categoryPage.isEmpty() or categoryPage.getPageable().getPageNumber() == 0} ? ' disabled'">
        <a class="page-link" href="#" id="prev-page">
          <i class="fas fa-arrow-left fa-xs"></i>
        </a>
      </li>
      <th:block th:if="${categoryPage.getTotalPages() != 0}">
        <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, categoryPage.getTotalPages() - 1)}" th:classappend="${categoryPage.getPageable().getPageNumber() == pageNumber} ? ' active'">
          <a class="page-link page-number" href="#" th:text="${pageNumber + 1}" th:data-page-number="${pageNumber}"></a>
        </li>
      </th:block>
      <li class="page-item" th:classappend="${categoryPage.isEmpty() or categoryPage.getPageable().getPageNumber() == categoryPage.getTotalPages() - 1} ? ' disabled'">
        <a class="page-link" href="#" id="next-page">
          <i class="fas fa-arrow-right fa-xs"></i>
        </a>
      </li>
    </ul>
  </div>
  
</th:block>