<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" th:fragment="controlSidebar">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Main Footer -->
  <footer class="main-footer" th:fragment="mainFooter">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.5
    </div>
  </footer>

</html>